.photo-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 16px;
  max-width: 1184px;
  max-height: 442px;
  margin: 118px auto 92px;
  padding: 0;
}
