.intro__text-explanatory {
  font-size: 16px;
  line-height: 163%;
  margin-bottom: 118px;
  grid-column: 2;
}

@media screen and (max-width: 768px) {
  .intro__text-explanatory {
    width: 720px;
  }
}

@media screen and (max-width: 320px) {
  .intro__text-explanatory {
    width: 288px;
    font-size: 16px;
    line-height: 163%;
    padding: 0;
    margin-bottom: 90px;
  }
}
