.place__paragraph {
  margin: 25px 0 0;
  grid-area: text;
  grid-column: 2;
  width: 100%;
}

.place__paragraph:first-of-type {
  margin-top: 0;
}

@media screen and (max-width: 320px) {
  .place__paragraph {
    width: 288px;
    margin: 0;
  }
}
