.place {
  margin-top: 80px;
  display: grid;
  grid-template-areas:
    "title artist"
    "image text"
    "button text";
  grid-gap: 48px 40px;
  grid-template-columns: 460px 1fr;
  grid-template-rows: min-content min-content 1fr;
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-rows: 340px 1fr;
    grid-gap: 48px 20px;
  }
}

@media screen and (max-width: 320px) {
  .place {
    margin: 48px 0;
    grid-gap: 30px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "artist"
      "image"
      "text";
  }
}
