.place {
  margin: 80px auto;
  padding: 0;
  display: grid;
  grid-template-areas:
    "title artist"
    "image text"
    "button text";
  column-gap: 48px;
  row-gap: 40px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content 1fr;
}

@media screen and (max-width: 768px) {
  .place {
    margin: 88px 24px 0 24px;
    column-gap: 28px;
    row-gap: 48px;
  }
}

@media screen and (max-width: 495px) {
  .place {
    margin: 64px 0 0 0;
    padding: 0;
    column-gap: 30px;
    row-gap: 30px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "artist"
      "image"
      "text"
      "button";
  }
}
